body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    background: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
}

button { padding: 10px 20px; font-size: 1.2em; cursor: pointer; border-radius: 8px; background-color: #4682B4; color: white; border: none; transition: 0.3s;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover { background-color: #4169E1;
}

.word-container {
    margin-top: 20px;
}

.letter {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #000;
    margin: 5px;
    font-size: 2em;
    text-transform: uppercase;
    border-radius: 10px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
    color: white;
}